// Colors
$light: #e2e2e2;
$mainColor: #A7C957;
$darkGray: #202020;
$lightGray: #888888;
$dark: #1c1c1c;
$focus: #dbff8723;
$projectCardShadow: #131313;


@mixin flex-box {
    display: flex;
    place-items: center;
    justify-content: center;
}

@mixin cta-btn-mix {
    @include flex-box;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    background-color: $mainColor;
    padding: 10px 50px;
    margin-top: 40px;

    p {
        font-weight: 500;
        color: $darkGray;
    }

    &:hover {
        p {
            color: $light;
        }
        background-color: $mainColor;
        transition: .2s ease-in-out;
        transform: translateY(10px);
    }
}

@mixin alt-btn-mix {
    @include flex-box;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid $mainColor;
    margin-top: 40px;

    p {
        font-weight: 500;
        color: $light;
    }

    &:hover {
        p {
            color: $light;
        }
        background-color: $mainColor;
        transition: .2s ease-in-out;
        transform: translateY(10px);
    }
}